extends layout

block content
  .jumbotron
    h1.display-4 Oops! Page not found
    p.lead 
      | Error: 
      | #{error.status}
    hr.my-4
    p
      | #{error.stack}
    p
      | We are sorry but the page you requested was not found

  .jumbotron(id='error')
      h1= 'Oops! Page not found'
      h2= error.status
      p.lead
        | #{error.stack} 
        | We are sorry but the page you requested was not found
